<div class="logo-wrapper">
  <a href="{{ "/" | relLangURL }}" class="logo">
    {{- if .Site.Params.logoTitle -}}
      <!-- &#9904; {{ .Site.Params.logoTitle }} -->
      &#10014; {{ .Site.Params.logoTitle }} &#10014;
    {{- else -}}
      &#9904; {{ .Site.Title }}
    {{- end -}}
  </a>
</div>

<nav class="site-navbar">
  <ul id="menu" class="menu">
    {{ range .Site.Menus.main -}}
      <li class="menu-item">
        <a class="menu-item-link" href="{{ .URL | safeURL }}">{{ .Name }}</a>
      </li>
    {{- end }}
  </ul>
</nav>

<div class="logo-wrapper">
  <p class="description">
    {{- if .Site.Params.description -}}
      {{ .Site.Params.description }}
    {{- end -}}
  </p>
</div>

